a:link:visited {
  color: seashell;
  font-size: 12;
  font-family: "Comic Sans MS", cursive, sans serif
}

a:active:hover {
  color: oldlace;
  font-size: 12;
  font-family: "Comic Sans MS", cursive, sans serif
}

a.dropdown {
  color: mintcream;
  font-size: 12;
  font-family: "Comic Sans MS", cursive, sans serif
}

div .head .foot {
  background-color: indigo;
  font-size: 12;
  font-family: "Comic Sans MS", cursive, sans serif;
  height: 150px;
  width: 100%;
  position: absolute;
}

a::backdrop{
  background-color: black;
  vertical-align: center;
  text-align: center;
}